.navbar {
    background-color: #000000;
}
svg.nav-icon{
    color: #efb810;
    fill: #efb810;
}
a.nav-link.active {
    font-family: 'Aguafina Script', cursive;
    font-size: 20px;
    fill: #efb810;
}

.nav-link.active {
    font-size: 20px;
    color: #efb810;
    fill: #efb810;
}

.nav-link.active:hover {
    color: #CC9900;
}

.nav-item:hover:active {
    color: #efb810;
}

svg:hover {
    fill: #CC9900;
}

.bx.bxs-plane-alt {
    position: absolute;
    left: 237px;
    top: 3.5px;

}

.linea {
    width: 100%;
    border: 2px solid;
    color: #efb810;
}

.linea2 {
    position: absolute;
    left: 230px;
    top: 22.5px;
    width: 15px;
    border: 0.5px solid;
    ;
    color: #efb810;
    transform: rotate(-46deg);
}
.iframe{
    width: 100%;
    height: 60px;
border-style: none;
}
.iframe2{
  width: 100%;
  height: 380px;
  border-style: none;
}
.iframe3{
    width: 100%;
  height: 300px;
  border-style: none;
}
.iframe4{
    width: 100%;
    height: 0vh;
    border-style: none;
}

.iframe5{
    width: 100%;
  height: 766px;
  border-style: none;
}
.iframe6{
  width: 100%;
  height: 600px;

}