body{
    background-color: #000000;
}
h1{
    color: #efb810;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Almendra SC', serif;
}
h5{
    font-weight: bold;
}
.card1 {
    color: #000000;
    font-size: 0.85rem;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    border-radius: 30px;
    padding: 1% 3%;
    background-color: #75a9f9; 

  }
  .card2 {
    color: #000000;
    font-size: 0.85rem;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    border-radius: 30px;
    padding: 1% 3%;
    background-color: #ff5d55; 

  }
  .card3 {
    color: #000000;
    font-size: 0.85rem;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    border-radius: 30px;
    padding: 1% 3%;
    background-color:  #72bb53; 

  }
  .card4 {
    color: #000000;
    font-size: 0.85rem;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    border-radius: 30px;
    padding: 1% 3%;
    background-color:  #c238eb; 

  }
  .card5 {
    color: #000000;
    font-size: 0.85rem;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    border-radius: 30px;
    padding: 1% 3%;
    background-color:  #3b1d8f; 

  }
  #recuadro {
    border: 5px solid;
    border-radius: 7px;
    color: #efb810;
    padding: 5%;
  }
div[class="star"]{
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    margin: 0% 1.7%;
    position: absolute;
    display: flex;
}
div[class="star2"]{
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    margin: 0% 3.8%;
    position: absolute;
    display: flex;
}
div[class="star3"]{
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    margin: 0% 5.8%;
    position: absolute;
    display: flex;
}
div[class="star4"]{
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    margin: 0% 7.8%;
    position: absolute;
    display: flex;
}
div[class="star5"]{
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    margin: 0% 9.8%;
    position: absolute;
    display: flex;
}
.v-line{
    border-right: thick solid #efb810;
    height:100%;
    top: 0%;
    left: -20%;
    position: absolute;
   }
#icono{
    left: 83%;
    position: absolute;
}

